.portfolio {
  padding-bottom: 100px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  font-family: 'Raleway-Light';
}

.gs-box {
  color: #ffffff;
  box-sizing: border-box;
  background-image: url('../../Assets/images/pattern-light.png');
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  margin-right: 25px;
  margin-top: 20px;
  font-family: 'Lato-bold';
  position:relative;
  z-index: 15;
  box-shadow: 0 4px 18px rgba(0,0,0,.3);
}

.dust-box {
  color: #ffffff;
  box-sizing: border-box;
  background-image: linear-gradient(
    -48deg,
    #88d3ce 0%,
    #5b9fc7 50%,
    #656bb9 100%
  );
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  margin-right: 25px;
  margin-top: 20px;
  font-family: 'Lato-bold';
  position:relative;
  z-index: 15;
  box-shadow: 0 4px 18px rgba(0,0,0,.3);
}

.sF-box {
  color: #ffffff;
  box-sizing: border-box;
  background-image: url('../../Assets/images/Background-Splash.png');
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
  margin-right: 25px;
  margin-top: 20px;
  font-family: 'Lato-bold';
  position:relative;
  z-index: 15;
  box-shadow: 0 4px 18px rgba(0,0,0,.3);
}

.gs {
  height: 50px;
  margin-left: 15px;
  margin-top: -5px
}

.gs_title {
  height: 25px;
  margin-left: -80px
}

.dust {
  margin-top: 10px;
  height: 50px;
}

.sF {
  margin-top: 15px;
  margin-left: -10px;
  width: 150px;
}