.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.feature {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 18px 0 rgba(189, 208, 223, 0.3);
  margin-right: 25px;
  margin-top: 20px;
  font-family: 'Lato-bold';
}

.gs {
  height: 50px;
}

.dust {
  height: 20px;
}

.sF {
  width: 150px;
}