.content-heading {
  padding: 30px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2em;
  font-family: 'Raleway-Light';
  color: #79c5e5;
}

.content {
  text-align: center;
  letter-spacing: .1px;
  font-size: 28px;
  line-height: 35px;
  font-family: 'Raleway-Light';
  color: #fff;
}

.curve {
  user-select: none;
  pointer-events: none;
  position: absolute;
  margin-left: -5px;
  bottom: -1px;
  width: 101%;
  z-index: -5;
  
  img {
    width: 100%;
  }

  @media (max-width: $break-small) {
    bottom: -2px;
  }
}

a {
  opacity: 0.65
}
a:active;
a:visited {
  font-weight: 500;
  font-family: $font-family-header;
  color: #ffffff;
  opacity: 0.3;
  transition: opacity 250ms ease;
  display: block;
}

a:hover {
  opacity: 1;
}

a.social {
  padding-left: 15px;

  @media (max-width: $break-small) {
    display: none;
  }

  font-size: 0px;
  line-height: 1;
  padding: 5px;

  img {
    height: 30px;
    width: auto;
  }

  &:last-child {
    padding-right: 0px;
  }
}