.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: left;
  background: url('./Assets/images/Background-Splash.png');
  background-position: center;
  position: relative;
  min-height: 600px;
  height: 108vh;
  padding-top: 30px;
  width: 100%;
  background-attachment: fixed;

  @media (max-width: $break-small) {
    min-height: 280px;
  }

}

.App-intro {
  font-size: large;
}
