.App-logo {
  height: 30px;
}

nav {
  margin: 0 auto;
  width: 70%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.social-image {
  height: 20px;
}

.social {
  margin-right: 10px
}

.social-links {
  text-align: right;
  margin-top: -55px;
}

a {
  color: #ffffff;
  opacity: 1;
}

a:hover {
  opacity: 0.65;
}