.App-logo {
  margin-left: 270px;
  height: 30px;
}

nav {
  margin: 0 auto;
  z-index: 99;
}

.social-image {
  height: 20px;
}

.social {
  margin-right: 10px
}

.social-links {
  text-align: right;
  margin-top: -55px;
  margin-right: 270px;
}